@import './mixin';
@import './variables';
@import './fonts';

* {
    margin: 0;
    padding: 0;
    font-family: $robotoRegular;
}

body {
    background-color: $black;

    strong {
        font-family: $robotoMedium;
    }

    .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 16px;
    }
}