@mixin transform($transformProp) {
    -webkit-transform: $transformProp;
    -moz-transform: $transformProp;
    transform: $transformProp;
}

@mixin transition($transition-query...){
    -webkit-transition: $transition-query;
    -moz-transition: $transition-query;
    -ms-transition: $transition-query;
    -o-transition: $transition-query;
    transition: $transition-query;
  }